<div class="slider__container">

	<div class="slider__line">
		<picture>
			<source srcset="./img/number0.webp" type="image/webp">
			<img class="slider__image" src="./img/number0.jpg" alt="news_img">
		</picture>
		<picture>
			<source srcset="./img/number1.webp" type="image/webp">
			<img class="slider__image" src="./img/number1.jpg" alt="news_img">
		</picture>
		<picture>
			<source srcset="./img/number2.webp" type="image/webp">
			<img class="slider__image" src="./img/number2.jpg" alt="news_img">
		</picture>
		<picture>
			<source srcset="./img/number3.webp" type="image/webp">
			<img class="slider__image" src="./img/number3.jpg" alt="news_img">
		</picture>
	</div>

	<div class="slider__dots" style="text-align:center">
		<span class="slider__dot active" onclick="o2.slider.showSlides(0)"></span>
		<span class="slider__dot" onclick="o2.slider.showSlides(1)"></span>
		<span class="slider__dot" onclick="o2.slider.showSlides(2)"></span>
		<span class="slider__dot" onclick="o2.slider.showSlides(3)"></span>
	</div>

	<a class="slider__btn-prev" onclick="o2.slider.sliderPrev()">&#10094;</a>
	<a class="slider__btn-next" onclick="o2.slider.sliderNext()">&#10095;</a>

</div>