<form action="#">
	<div class="select-1">
		<div class="select-1__header select-1__icon" onclick="o2.select.handleToggle()">
			<label class="select-1__label" for="selectInput">Label</label>
			<input class="select-1__input" type="text" readonly name="" id="selectInput" placeholder="Item 1">
		</div>
		<div class="select-1__items">
			<div class="select-1__item" onclick="o2.select.handleChoose(event)">Item 1</div>
			<div class="select-1__item" onclick="o2.select.handleChoose(event)">Item 2</div>
			<div class="select-1__item" onclick="o2.select.handleChoose(event)">Item 3</div>
			<div class="select-1__item" onclick="o2.select.handleChoose(event)">Item 4</div>
			<div class="select-1__item" onclick="o2.select.handleChoose(event)">Item 5</div>
		</div>
	</div>
	<input type="hidden" class="_selected-value" name="selectInputHidden">
</form>