<div class="select-1__container">
	<form action="#">
		<div class="select-1">
			<div class="select-1__header" onclick="o2.select.handleToggle(event)">
				<label class="select-1__label" for="selectInput">Label</label>
				<input class="select-1__input" type="text" readonly name="" id="selectInput" placeholder="Item 1">
				<div class="select-1__icon">{% include "/assets/svg/arrow.svg" %}</div>
			</div>
			<ul class="select-1__list" onclick="o2.select.handleChoose(event)">
				<li class="select-1__item">Item 1</li>
				<li class="select-1__item">Item 2</li>
				<li class="select-1__item">Item 3</li>
				<li class="select-1__item">Item 4</li>
				<li class="select-1__item">Item 5</li>
			</ul>
		</div>
		<input type="hidden" value="Item 1" class="_selected-value" name="selectInputHidden">
	</form>

	<form action="#">
		<div class="select-1">
			<div class="select-1__header" onclick="o2.select.handleToggle(event)">
				<label class="select-1__label" for="selectInput">Label</label>
				<input class="select-1__input" type="text" readonly name="" id="selectInput" placeholder="Item 1">
				<div class="select-1__icon">{% include "/assets/svg/arrow.svg" %}</div>
			</div>
			<ul class="select-1__list" onclick="o2.select.handleChoose(event)">
				<li class="select-1__item">Item 1</li>
				<li class="select-1__item">Item 2</li>
				<li class="select-1__item">Item 3</li>
				<li class="select-1__item">Item 4</li>
				<li class="select-1__item">Item 5</li>
			</ul>
		</div>
		<input type="hidden" value="Item 1" class="_selected-value" name="selectInputHidden">
	</form>

	<form action="#">
		<div class="select-1">
			<div class="select-1__header" onclick="o2.select.handleToggle(event)">
				<label class="select-1__label" for="selectInput">Label</label>
				<input class="select-1__input" type="text" readonly name="" id="selectInput" placeholder="Item 1">
				<div class="select-1__icon">{% include "/assets/svg/arrow.svg" %}</div>
			</div>
			<ul class="select-1__list" onclick="o2.select.handleChoose(event)">
				<li class="select-1__item">Item 1</li>
				<li class="select-1__item">Item 2</li>
				<li class="select-1__item">Item 3</li>
				<li class="select-1__item">Item 4</li>
				<li class="select-1__item">Item 5</li>
			</ul>
		</div>
		<input type="hidden" value="Item 1" class="_selected-value" name="selectInputHidden">
	</form>
</div>