<div class="input-file">
	<input class="input-file__input _file-input" type="file" name="inputFile" id="inputFile" onchange="o2.inputFile.onChoose(event)">
	<label class="input-file__label" for="inputFile">Choose File...</label>
	<span class="input-file__text">
		<span class="input-file__title">Choosen file:</span>
		&nbsp;
		<span class="input-file__name _file-name">None</span>
	</span>
</div>