<label class="checkbox-1">
	<span class="checkbox-1__item">Check</span>
	<input class="checkbox-1__input" type="checkbox" name="" id="">
	<div class="checkbox-1__custom"></div>
</label>
<label class="checkbox-1">
	<span class="checkbox-1__item">Check</span>
	<input class="checkbox-1__input" type="checkbox" name="" id="">
	<div class="checkbox-1__custom"></div>
</label>
<label class="checkbox-1">
	<span class="checkbox-1__item">Check</span>
	<input class="checkbox-1__input" type="checkbox" name="" id="">
	<div class="checkbox-1__custom"></div>
</label>