<div class="g-yamap">
	<div class="g-yamap__map" id="yamap">
		<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/33/vladikavkaz/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Владикавказ</a><a href="https://yandex.ru/maps/geo/vladikavkaz/53119295/?ll=44.686998%2C43.026754&utm_medium=mapframe&utm_source=maps&z=15.26" style="color:#eee;font-size:12px;position:absolute;top:14px;">Владикавказ — Яндекс Карты</a>
			<iframe src="https://yandex.ru/map-widget/v1/?ll=44.686998%2C43.026754&mode=poi&poi%5Bpoint%5D=44.681760%2C43.024617&poi%5Buri%5D=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1MzExOTI5NRJp0KDQvtGB0YHQuNGPLCDQoNC10YHQv9GD0LHQu9C40LrQsCDQodC10LLQtdGA0L3QsNGPINCe0YHQtdGC0LjRjyDigJQg0JDQu9Cw0L3QuNGPLCDQktC70LDQtNC40LrQsNCy0LrQsNC3IgoNIboyQhU1GSxC&z=15.26" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
		</div>
	</div>
</div>