<div class="tabs_container">
	<ul class="tabs__menu">
		<li class="tabs__item _tab-active" onclick="o2.tabs.onTarget(event)"><a class="tabs__link" href="javascript:void(0);">Tab 1</a></li>
		<li class="tabs__item" onclick="o2.tabs.onTarget(event)"><a class="tabs__link" href="javascript:void(0);">Tab asdasd2</a></li>
		<li class="tabs__item" onclick="o2.tabs.onTarget(event)"><a class="tabs__link" href="javascript:void(0);">Tab sda3</a></li>
		<li class="tabs__item" onclick="o2.tabs.onTarget(event)"><a class="tabs__link" href="javascript:void(0);">Tab 4</a></li>
		<li class="tabs__item" onclick="o2.tabs.onTarget(event)"><a class="tabs__link" href="javascript:void(0);">Tab ss5</a></li>
	</ul>
	<span class=""></span>
</div>