.profile-dropdown ul {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
} 
.profile-dropdown:hover ul { 
  visibility: visible;
  opacity: 1;
  position: initial;
}