<li class="profile-dropdown">
	<a href="javascript:void(0)" class="login-btn">Profil</a>
	<ul>
		<li><a href="/">Test1</li>
			<li><a href="/">Test2</li>
				<li><a href="/">Test3</li>
				</ul>
			</li>
			<li>
				<a href="javascript:void(0)" class="login-btn">Logout</a></li>