{% extends "layouts/layout.twig" %}

{% block page %}
	<div class="conteiner">
		{% include '/blocks/select-1/select-1.twig' %}
		{% include '/blocks/checkbox/checkbox.twig' %}
	</div>
{% endblock %}
