<form action="#">
	<div class="slt">
		<div class="slt__header slt__icon" onclick="myToggle()">
			<label class="slt__label" for="sltInput">Лейбл</label>
			<input class="slt__input" type="text" name="" id="sltInput" placeholder="Text" onclick="myToggle()">
			{# <div class="slt__icon">{% include '/assets/svg/arrow.svg' %}</div> #}
		</div>
		<div class="slt__items">
			<div class="slt__item" onclick="myChoose()">Item 1</div>
			<div class="slt__item" onclick="myChoose()">Item 2</div>
			<div class="slt__item" onclick="myChoose()">Item 3</div>
			<div class="slt__item" onclick="myChoose()">Item 4</div>
			<div class="slt__item" onclick="myChoose()">Item 5</div>
		</div>
	</div>
	<input type="text" class="_selected-value" name="" placeholder="Item 1" style="margin: 0 auto; width: 100%; max-width: 200px; display:flex;">
</form>